{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vitae porro assumenda aliquid facere optio ducimus ratione sequi nostrum non dicta dignissimos modi unde sed illo perferendis minima suscipit, fugiat cum officia culpa quod! Eligendi repudiandae magni perferendis iure nam accusantium quod, nisi eaque autem sapiente fugiat ab ea quidem itaque eveniet provident asperiores maiores ratione nemo cupiditate ut? Ducimus quibusdam officia facere? Cupiditate non suscipit accusantium, aut dolorem unde officia nulla odio neque incidunt obcaecati sunt hic fugit expedita. Enim unde eveniet, dolores tenetur perferendis, nesciunt ullam cupiditate non alias deserunt quidem veritatis, deleniti repudiandae est dolorem inventore eaque!</p>

<p>Website created by {{ username }}</p>
{% endblock %}